/* :root {
  --container-padding: calc(clamp(5em, 7.5vw, 7.5em) * 0.3);
  --title-size: clamp(5em, 7.5vw, 7.5em);
  --gap: calc(clamp(5em, 7.5vw, 7.5em) * 0.3);
  --nav-bar-height: calc(3em + (calc(clamp(5em, 7.5vw, 7.5em) * 0.3) * 2));
  --section-padding: calc(clamp(5em, 7.5vw, 7.5em) * 1.2);
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  scrollbar-width: none;
}

.main {
  width: 100%;
  height: 100%;
}

.default-header {
  padding-top: calc(var(--nav-bar-height) + var(--section-padding));
}

.section-home-header .row {
  align-items: flex-end;
}

.section-home-header .row-title {
  min-height: 100vh;
  padding-top: var(--section-padding);
  align-items: flex-end;
  padding-bottom: calc(var(--gap)* 3);
}

.background-media {
  height: 100vh; 
  overflow: hidden;
  position: relative;
}

video {
  pointer-events: none;
  user-select: none;
}

.video-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.section {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  position: relative;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.row {
  display: flex;
  width: 100%;
  position: relative;
}

.row.centered {
  justify-content: center;
}

.overlay-dark-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at 50% 65%, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.7) 90%);
  transform: scale(2, 1);
  pointer-events: none;
}

.container {
  margin: 0 auto;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  max-width: calc(var(--title-size)* 11);
}

 */

