/* ------------------------- Loading -------------------------------------------------- */

.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 500;
  pointer-events: none;
}

.loading-container .loading-screen {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-light);
}

.loading-logo {
  width: 7em;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(0%) rotate(0.001deg);
}

.loading-logo > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: hidden;
  position: relative;
  transform: translateY(0%) rotate(0.001deg);
}

.loading-logo .iconmark {
  width: 45%;
}

.loading-logo svg {
  width: 100%;
}

/* ------------------------- Page Transition -------------------------------------------------- */

.transition-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-light);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  padding-top: calc(var(--nav-bar-height) - var(--gap));
  background: var(--color-light);
}

.loading-circle {
  position: absolute;
  /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
  left: 50%;
  transform: translateX(-50%);
  bottom: var(--gap);
  width: calc(var(--title-size) * 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-circle svg {
  width: 100%;
}

.loading-circle svg circle {
  stroke: var(--color-primary);
  stroke: rgba(var(--color-dark-rgb), 0.4);
  opacity: 0;
  stroke-width: 2px;
}

/* ------------------------- Tripadvisor Embed Hidden -------------------------------------------------- */

.tripadvisor-hidden {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  user-select: none;
  transform: scale(0.01);
}

/* ------------------------- Navigation -------------------------------------------------- */

.main-nav-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: calc(var(--gap) * 0.5) var(--container-padding);
  pointer-events: all;
  display: flex;
  align-items: center;
  transition: padding var(--animation-nav);
}

.main-nav-bar .border-bottom {
  transform: translateY(1px);
  overflow: hidden;
  transition: background-color var(--animation-nav);
}

.main-nav-bar .overlay-background {
  background-color: transparent;
  transition: background-color var(--animation-nav-smooth);
}

.main-nav-bar .overlay-alt-background {
  pointer-events: none;
  background-color: transparent;
  transition: background-color var(--animation-nav-smooth);
}

main {
  transition: background-color var(--animation-nav-smooth);
}

.main-nav-bar nav {
  display: flex;
  align-items: center;
  gap: calc(var(--copy-size-m) * 1.5);
}

.main-nav-bar .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: calc(var(--gap) * 0.6) 0;
}

/* ------------------------- Cheeseburger -------------------------------------------------- */

.main-nav-bar nav .deco-line {
  width: 1px;
  height: calc(var(--copy-size-m) * 1.2);
  display: block;
  background-color: var(--color-border-active);
  transition: background-color var(--animation-nav);
}

.cheeseburger {
  width: calc((var(--copy-size-m) * 3) + 1em);
  height: var(--btn-height-small);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  margin-left: calc(var(--copy-size-m) * -1.5);
}

.cheeseburger-inner {
  width: 1.5em;
  height: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.cheeseburger .bar {
  position: absolute;
  width: 1em;
  height: 1px;
  background-color: var(--color-dark);
  transition: transform var(--animation-smooth), background-color var(--animation-nav);
  transform: translate(0%, 0em) rotate(0.001deg);
}

.cheeseburger .bar::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: var(--color-dark);
  transform: translateX(-150%);
}

.cheeseburger .bar:nth-child(3)::before {
  transform: translateX(-300%);
}

.cheeseburger .bar:nth-child(1) {
  transform: translate(0%, -0.25em) rotate(0.001deg);
  transition-delay: 0s;
}

.cheeseburger .bar:nth-child(3) {
  transform: translate(-50%, 0.25em) rotate(0.001deg);
  width: 0.5em;
}

.main-nav-bar:hover .cheeseburger .bar {
  transition-delay: 0.05s;
}
.main-nav-bar:hover .bar:nth-child(3) {
  transition-delay: 0.1s;
}

@media (hover: hover) {
  @media screen and (min-width: 1025px) {
    .cheeseburger:hover .bar:nth-child(1) {
      transform: translate(150%, -0.25em) rotate(0.001deg);
    }

    .cheeseburger:hover .bar:nth-child(2) {
      transform: translate(150%, 0em) rotate(0.001deg);
    }

    .cheeseburger:hover .bar:nth-child(3) {
      transform: translate(250%, 0.25em) rotate(0.001deg);
    }
  }
}

[data-scrolling-started="false"][data-theme-nav="dark"][data-page-transition="not-active"] .main-nav-bar nav .deco-line,
[data-scrolling-started="true"][data-theme-nav="dark"][data-bg-nav="transparent"][data-page-transition="not-active"] .main-nav-bar nav .deco-line {
  background-color: var(--color-border-active-light);
}

[data-scrolling-started="false"][data-theme-nav="dark"][data-page-transition="not-active"] .cheeseburger .bar,
[data-scrolling-started="true"][data-theme-nav="dark"][data-bg-nav="transparent"][data-page-transition="not-active"] .cheeseburger .bar,
[data-scrolling-started="false"][data-theme-nav="dark"][data-page-transition="not-active"] .cheeseburger .bar::before,
[data-scrolling-started="true"][data-theme-nav="dark"][data-bg-nav="transparent"][data-page-transition="not-active"] .cheeseburger .bar::before {
  background-color: var(--color-white);
}

/* ------------------------- Button -------------------------------------------------- */

@media screen and (min-width: 1025px) {
  .main-nav-bar .btn-nav .text-mobile {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .main-nav-bar .btn-nav .text-desktop {
    display: none;
  }

  .main-nav-bar nav .cheeseburger,
  .main-nav-bar .btn-nav {
    transform: translateY(0.25em);
  }

  .main-nav-bar .btn-nav .btn-click {
    height: 2em;
  }

  .main-nav-bar .btn-nav span {
    padding: 0;
  }
}

/* ------------------------- Close -------------------------------------------------- */

.close {
  width: calc((var(--copy-size-m) * 3) + 1em);
  height: var(--btn-height-small);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  margin-left: calc(var(--copy-size-m) * -1.5);
  position: absolute;
  top: calc(var(--gap) * 1.1);
  left: var(--container-padding);
}

.close-inner {
  width: 1.1em;
  height: 1.1em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform: rotate(-45deg);
  overflow: hidden;
}

.close .bar {
  position: absolute;
  width: 1.1em;
  height: 1px;
  background-color: var(--color-dark);
  transition: transform var(--animation-smooth);
  transform: rotate(0.001deg) translateX(0%);
}

.close .bar::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: var(--color-dark);
  transform: translateX(-250%);
}

.close .bar:nth-child(1) {
  transform: rotate(90deg) translateX(0%);
  transition-delay: 0.1s;
}

@media (hover: hover) {
  @media screen and (min-width: 1025px) {
    .close:hover .bar:nth-child(1) {
      transform: rotate(90deg) translateX(250%);
    }

    .close:hover .bar:nth-child(2) {
      transform: rotate(0.001deg) translateX(250%);
    }
  }
}

/* ------------------------- Main Navigation Bar -------------------------------------------------- */

.main-nav-bar ul {
  display: flex;
  flex-direction: row;
  position: relative;
}

.main-nav-bar .nav-link {
  display: flex;
  transition: all var(--animation-nav) 0.1s;
}

.main-nav-bar .nav-link .nav-link-click {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: var(--btn-height-small);
  position: relative;
  cursor: pointer;
}

.main-nav-bar .nav-link .nav-link-click::before {
  content: "";
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, 100%) rotate(0.001deg);
  opacity: 0;
  width: 4px;
  height: 4px;
  background-color: rgba(var(--color-dark-rgb), 0.8);
  border-radius: 50%;
  transition: transform var(--animation-primary), opacity var(--animation-primary), background-color var(--animation-nav);
  pointer-events: none;
}

.main-nav-bar .nav-link .nav-link-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.main-nav-bar .nav-link .nav-link-click span {
  font-size: var(--copy-size-m);
  font-weight: 400;
  color: var(--color-dark);
  padding: 0 calc(var(--copy-size-m) * 1.5);
  margin-top: 0.05em;
  white-space: nowrap;
  text-shadow: 0px calc(var(--btn-shadow-distance) * 1.5) transparent;
  transform: translateY(0em) rotate(0.001deg);
  transition: text-shadow var(--animation-smooth), color var(--animation-nav);
  line-height: 1.1;
}

.main-nav-bar:hover .nav-link .nav-link-click span {
  transition: text-shadow var(--animation-smooth), color 0s linear;
}

[data-links-no-hover="active"] .main-nav-bar:hover .nav-link .nav-link-click span {
  transition: text-shadow var(--animation-smooth), color var(--animation-nav);
}

@media (hover: hover) {
  @media screen and (min-width: 1025px) {
    .main-nav-bar .nav-link .nav-link-click:hover span {
      transition: all var(--animation-smooth);
      transform: translateY(calc(var(--btn-shadow-distance) * -1)) rotate(0.001deg);
      color: transparent;
      text-shadow: 0px var(--btn-shadow-distance) var(--color-dark);
    }
  }
}

.main-nav-bar .nav-link[data-link-status="active"] .nav-link-click::before {
  transform: translate(-50%, -50%) rotate(0.001deg);
  opacity: 1;
}

@media (hover: hover) {
  @media screen and (min-width: 1025px) {
    .main-nav-bar .nav-link-ul:hover .nav-link .nav-link-click::before {
      transform: translate(-50%, 100%) rotate(0.001deg);
      opacity: 0;
    }

    .main-nav-bar .nav-link-ul .nav-link .nav-link-click:hover::before {
      transform: translate(-50%, -50%) rotate(0.001deg);
      opacity: 1;
    }
  }
}

/* Nav Link Dropdown */

.main-nav-bar ul .nav-link-absolute {
  position: absolute;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.main-nav-bar ul .nav-link-absolute .nav-link-click::before {
  content: none;
}

.main-nav-bar .nav-link-absolute .nav-link-content {
  gap: calc(var(--copy-size-m) * 0.6);
}

.main-nav-bar .nav-link-absolute .nav-link-content span {
  padding-right: 0;
}

.main-nav-bar .nav-link .dots {
  width: 14px;
  height: calc(var(--copy-size-m) * 1);
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav-bar .nav-link .dots .dot {
  width: 3px;
  height: 3px;
  background-color: rgba(var(--color-dark-rgb), 0.8);
  border-radius: 50%;
  transition: background-color var(--animation-nav);
}

.main-nav-bar ul[data-link-status="dropdown-stay-active"] .nav-link-absolute-stay,
.main-nav-bar ul[data-link-status="dropdown-discover-active"] .nav-link-absolute-discover {
  opacity: 1;
  visibility: visible;
}

.main-nav-bar ul[data-link-status="dropdown-stay-active"] .nav-link-relative,
.main-nav-bar ul[data-link-status="dropdown-discover-active"] .nav-link-relative {
  opacity: 0;
  visibility: hidden;
}

@media (hover: hover) {
  @media screen and (min-width: 1025px) {
    .main-nav-bar ul .icon-link-stay .icon-link-click .icon-link-content span {
      text-shadow: 0px var(--btn-shadow-distance) var(--color-white);
    }
  }
}

/* Nav Link Dropdown - Dropdown*/

.main-nav-bar .nav-link .nav-link-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  opacity: 0;
  visibility: hidden;
  transform: translateY(0.5em) rotate(0.001deg);
  transition: all var(--animation-primary);
  padding-top: 0.5em;
}

[data-page-transition="active"] .main-nav-bar .nav-link-absolute {
  pointer-events: none;
}

.main-nav-bar .nav-link .nav-link-dropdown-inner {
  display: flex;
  flex-direction: column;
  gap: 0.33em;
  box-shadow: 0px 2em 2em 0px rgba(var(--color-dark-rgb), 0.1);
  background-color: var(--color-white);
  padding: calc(var(--copy-size-l) * 1.4) calc(var(--copy-size-m) * 2) calc(var(--copy-size-l) * 1.25) calc(var(--copy-size-m) * 1.5);
}

.main-nav-bar .nav-link .nav-link-dropdown [data-link-status="active"] span {
  font-weight: 400;
  color: var(--color-primary);
}

@media (hover: hover) {
  @media screen and (min-width: 1025px) {
    .main-nav-bar .nav-link:hover .nav-link-dropdown {
      opacity: 1;
      visibility: visible;
      transform: translateY(0em) rotate(0.001deg);
    }
  }
}

/* Logo */

.main-nav-bar .logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.main-nav-bar .logo svg {
  /* width: 7em; */
}

.main-nav-bar .logo svg path {
  fill: var(--color-dark);
  transition: fill var(--animation-nav);
}

/* Theme */

[data-scrolling-started="false"][data-theme-nav="dark"][data-page-transition="not-active"] .main-nav-bar .logo svg path,
[data-scrolling-started="true"][data-theme-nav="dark"][data-bg-nav="transparent"][data-page-transition="not-active"] .main-nav-bar .logo svg path {
  fill: var(--color-white);
}

[data-scrolling-started="false"][data-theme-nav="dark"][data-page-transition="not-active"] .main-nav-bar .nav-link .nav-link-click span,
[data-scrolling-started="true"][data-theme-nav="dark"][data-bg-nav="transparent"][data-page-transition="not-active"] .main-nav-bar .nav-link .nav-link-click span {
  color: var(--color-white);
}

@media (hover: hover) {
  @media screen and (min-width: 1025px) {
    [data-scrolling-started="false"][data-theme-nav="dark"][data-page-transition="not-active"] .main-nav-bar .nav-link .nav-link-click:hover span,
    [data-scrolling-started="true"][data-theme-nav="dark"][data-bg-nav="transparent"][data-page-transition="not-active"] .main-nav-bar .nav-link .nav-link-click:hover span {
      text-shadow: 0px var(--btn-shadow-distance) var(--color-white);
    }
  }
}

[data-scrolling-started="false"][data-theme-nav="dark"][data-page-transition="not-active"] .main-nav-bar .btn.btn-nav .btn-click,
[data-scrolling-started="true"][data-theme-nav="dark"][data-bg-nav="transparent"][data-page-transition="not-active"] .main-nav-bar .btn.btn-nav .btn-click {
  background-color: rgba(var(--color-white-rgb), 0.2);
  backdrop-filter: blur(1em);
  -webkit-backdrop-filter: blur(1em);
}

[data-scrolling-started="false"][data-theme-nav="dark"][data-page-transition="not-active"] .main-nav-bar .border-bottom,
[data-scrolling-started="true"][data-theme-nav="dark"][data-bg-nav="transparent"][data-page-transition="not-active"] .main-nav-bar .border-bottom {
  background-color: var(--color-border-light);
}

[data-scrolling-started="false"][data-theme-nav="dark"][data-page-transition="not-active"] .main-nav-bar .nav-link .nav-link-click::before,
[data-scrolling-started="true"][data-theme-nav="dark"][data-bg-nav="transparent"][data-page-transition="not-active"] .main-nav-bar .nav-link .nav-link-click::before {
  background-color: var(--color-white);
}

[data-scrolling-started="false"][data-theme-nav="dark"][data-page-transition="not-active"] .main-nav-bar .nav-link .dots .dot,
[data-scrolling-started="true"][data-theme-nav="dark"][data-bg-nav="transparent"][data-page-transition="not-active"] .main-nav-bar .nav-link .dots .dot {
  background-color: var(--color-white);
}

/* Scrolling Started */

[data-scrolling-started="true"][data-page-transition="not-active"] .main-nav-bar {
  padding: calc(var(--gap) * 0) var(--container-padding);
}

[data-scrolling-started="true"] .main-nav-bar .overlay-background {
  background-color: var(--color-light);
}

[data-scrolling-started="true"][data-bg-nav="transparent"][data-page-transition="not-active"] .main-nav-bar .overlay-background {
  background-color: rgba(var(--color-black-rgb), 0.2);
  backdrop-filter: blur(0.5em);
  -webkit-backdrop-filter: blur(0.5em);
}

[data-scrolling-started="true"][data-bg-nav="white"][data-page-transition="not-active"] .main-nav-bar .overlay-alt-background,
[data-scrolling-started="true"][data-bg-nav="white"][data-page-transition="not-active"] main {
  background-color: var(--color-white);
}

@media screen and (max-width: 1024px) {
  .main-nav-bar {
    padding: calc(var(--gap) * 0) var(--container-padding);
  }

  .main-nav-bar ul,
  .main-nav-bar nav .deco-line {
    display: none;
  }
}

/* ------------------------- Side Nav - Back -------------------------------------------------- */

.overlay.side-nav-back {
  opacity: 0;
  visibility: hidden;
  transition: all var(--animation-slow);
  pointer-events: all;
  backdrop-filter: blur(0.2em);
  -webkit-backdrop-filter: blur(0.2em);
  transition-delay: 0.3s;
  background-color: rgba(var(--color-black-rgb), 0.66);
}

[data-navigation-status="active"] .side-nav-back {
  transition-delay: 0s;
  opacity: 1;
  visibility: visible;
}

/* ------------------------- Side Nav -------------------------------------------------- */

.side-nav-box {
  position: relative;
  transform: translateX(-101%) rotate(0.001deg);
  transition: transform var(--animation-slow);
  pointer-events: all;
  transition-delay: 0.1s;
  min-width: 33.333%;
}

[data-navigation-status="active"] .side-nav-box {
  transform: translateX(0%) rotate(0.001deg);
  transition-delay: 0s;
}

@media screen and (max-width: 1024px) {
  .side-nav-box {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }
}

.side-nav {
  height: 100%;
  background-color: var(--color-light);
  display: flex;
  flex-direction: column;
  padding-top: calc((var(--gap) * 1.1) + var(--btn-height-small));
  overflow: scroll;
  max-height: 100%;
  z-index: 2;
  position: relative;
}

.side-nav .row-links-primary {
  height: 100%;
  padding: var(--gap) var(--container-padding);
}

@media screen and (min-height: 720px) {
  .side-nav .row-links-primary {
    padding-top: 8vh;
  }
}

.side-nav .row-links-primary .col-row-eyebrow {
  padding-bottom: 1em;
}

.side-nav .row-links-primary .col,
.section-footer .col-links-primary {
  width: 100%;
}

.side-nav .row-links-primary ul,
.section-footer .col-links-primary ul {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.side-nav .row-links-primary .nav-link,
.section-footer .col-links-primary .nav-link {
  display: flex;
  width: 100%;
}

.side-nav .row-links-primary .nav-link-click,
.section-footer .col-links-primary .nav-link-click {
  display: flex;
  width: 100%;
  padding: 0.25em 0;
  transition: all var(--animation-smooth);
  position: relative;
}

.side-nav .row-links-primary ul .nav-link span,
.section-footer .col-links-primary ul .nav-link span {
  font-family: "Kaftan Serif", serif;
  font-weight: 400;
  font-size: calc(var(--title-size) * 0.4);
  line-height: 1.2;
  color: var(--color-dark);
}

.side-nav .row-links-primary .nav-link-click::before,
.section-footer .col-links-primary .nav-link-click::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  opacity: 0;
  transform: translate(100%, -50%) rotate(0.001deg);
  width: 6px;
  height: 6px;
  background-color: rgba(var(--color-dark-rgb), 0.8);
  border-radius: 50%;
  transition: transform var(--animation-primary), opacity var(--animation-primary), background-color var(--animation-nav);
  pointer-events: none;
}

.side-nav .row-links-primary .nav-link[data-link-status="active"] .nav-link-click::before,
.section-footer .col-links-primary .nav-link[data-link-status="active"] .nav-link-click::before {
  transform: translate(0%, -50%) rotate(0.001deg);
  opacity: 1;
}

@media (hover: hover) {
  @media screen and (min-width: 1025px) {
    .side-nav .row-links-primary ul:hover .nav-link .nav-link-click::before,
    .section-footer .col-links-primary ul:hover .nav-link .nav-link-click::before {
      transform: translate(100%, -50%) rotate(0.001deg);
      opacity: 0;
    }

    .side-nav .row-links-primary ul .nav-link .nav-link-click:hover::before,
    .section-footer .col-links-primary ul .nav-link .nav-link-click:hover::before {
      transform: translate(0%, -50%) rotate(0.001deg);
      opacity: 1;
    }
  }
}

.side-nav .row-links-secondary {
  position: relative;
  flex-shrink: 0;
  padding: max(var(--gap), 6vh) var(--container-padding);
  gap: var(--gap);
}

.side-nav .row-links-secondary .col-row-more-link,
.section-footer .col-row-more-link {
  padding-top: 1.5em;
}

.side-nav .row-links-secondary .col-row-eyebrow {
  padding-bottom: 1em;
  padding-top: 0.5em;
}

.side-nav .row-links-secondary .col,
.section-footer .col-links-secondary .col-split {
  min-width: 10em;
  width: 100%;
}

.side-nav .row-links-secondary ul,
.section-footer .col-links-secondary ul {
  display: flex;
  flex-direction: column;
  gap: 0.33em;
}

.side-nav .row-rating {
  position: relative;
  flex-shrink: 0;
  padding: var(--gap) var(--container-padding);
}

.side-nav .row-rating .col {
  width: 100%;
}

.side-nav .row-rating .col-row-rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .side-nav .row-links-primary ul .nav-link span {
    font-size: calc(var(--title-size) * 0.475);
  }

  .section-footer .col-links-primary ul .nav-link span {
    font-size: calc(var(--title-size) * 0.475);
  }
}

/* ------------------------- Side Nav - Images -------------------------------------------------- */

.side-nav-images {
  position: absolute;
  left: 100%;
  height: 100%;
  width: 66.666%;
  pointer-events: none;
}

[data-navigation-status="active"] .side-nav-images {
  transform: translateX(0%) rotate(0.001deg);
}

.side-nav-images .single-nav-image {
  transition: transform var(--animation-slow);
  transform: translateX(-101%) rotate(0.001deg);
}

[data-navigation-status="active"] .side-nav-images .single-nav-image[data-nav-image-status="active"] {
  transform: translateX(0%) rotate(0.001deg);
  z-index: 2;
}

@media screen and (max-width: 1024px) {
  .side-nav-images {
    display: none;
  }
}

/* ------------------------- Section - Error Header -------------------------------------------------- */

.section-error-header .col-row-title {
  padding-bottom: calc(var(--gap) * 0.5);
}

/* ------------------------- Section - Footer -------------------------------------------------- */

.section-footer {
  padding: 0;
  margin-bottom: -1px;
}

/* Row Links */

.section-footer .row-links {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.section-footer .row-links .col-row-eyebrow {
  padding-bottom: calc(var(--gap) * 1);
}

.section-footer .row-links .col-links-primary .col-row-eyebrow {
  padding-bottom: calc(var(--gap) * 0.75);
}

.section-footer .row-links .col {
  position: relative;
  width: 33.33333%;
  padding: calc(var(--gap) * 2.25) var(--container-padding);
}

/* Styling of Primary Links found at .side-nav */

.section-footer .row-links .col-links-primary {
  padding-bottom: calc(var(--gap) * 3.5);
}

/* Styling of Secondary Links found at .side-nav */

.section-footer .row-links .col-links-secondary {
  display: flex;
  flex-direction: row;
}

.section-footer .row-links .col-row-address {
  display: flex;
  flex-direction: column;
  gap: 0.33em;
}

.section-footer .row-links .col-row-external-links {
  display: flex;
  flex-direction: column;
  gap: 0.33em;
  padding-top: 1.5em;
}

/* Row Credits */

.section-footer .row-credits {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.section-footer .row-credits .col {
  position: relative;
  width: 33.33333%;
  padding: calc(var(--gap) * 1) var(--container-padding);
  justify-content: center;
}

.section-footer .row-credits .col-row-reviews {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.section-footer .row-credits .col-row-socials {
  display: flex;
  flex-direction: row;
  gap: 1.25em;
}

.section-footer .row-credits .col-copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.section-footer .row-credits .col-copyright p.inactive {
  opacity: 0.6;
}

@media screen and (max-width: 1024px) {
  .section-footer .row-links .col,
  .section-footer .row-credits .col {
    width: 50%;
  }

  .section-footer .row-links .col.col-credentials,
  .section-footer .row-credits .col.col-copyright {
    width: 100%;
  }

  .section-footer .row-links .col.col-credentials .border-left,
  .section-footer .row-credits .col.col-copyright .border-left {
    width: 100%;
    height: 1px;
  }
}

@media screen and (max-width: 720px) {
  .section-footer .row-links .col,
  .section-footer .row-credits .col {
    width: 100%;
  }

  .section-footer .row-links .border-left,
  .section-footer .row-credits .border-left {
    width: 100%;
    height: 1px;
  }

  .section-footer .row-links .col {
    padding: calc(var(--gap) * 1.5) var(--container-padding);
  }

  .section-footer .row-links .col-links-primary {
    padding-top: calc(var(--gap) * 2);
    padding-bottom: calc(var(--gap) * 1.5);
  }

  .section-footer .row-credits .col-reviews {
    padding-top: calc(var(--gap) * 1.25);
  }

  .section-footer .row-credits .col-socials {
    margin-top: calc(var(--gap) * -1.25);
    padding-bottom: calc(var(--gap) * 1.25);
  }

  .section-footer .row-credits .col-socials .border-left {
    display: none;
  }
}

/* Built in Pop-up - Back */

.overlay.credits-back {
  opacity: 0;
  visibility: hidden;
  transition: all var(--animation-slow);
  pointer-events: all;
  backdrop-filter: blur(0.2em);
  -webkit-backdrop-filter: blur(0.2em);
  transition-delay: 0.3s;
  background-color: rgba(var(--color-black-rgb), 0.66);
}

[data-credits-status="active"] .overlay.credits-back {
  transition-delay: 0s;
  opacity: 1;
  visibility: visible;
}

/* Built in Pop-up - Box */

.credits-box {
  position: absolute;
  transition: all var(--animation-slow);
  pointer-events: all;
  top: 121%;
  left: 50%;
  transform: translate(-50%, 0%) rotate(0.001deg);
}

[data-credits-status="active"] .credits-box {
  top: 50%;
  transform: translate(-50%, -50%) rotate(0.001deg);
}

.credits-box .credits {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  z-index: 2;
  position: relative;
  width: calc(14em + (var(--gap) * 2.5));
}

.credits-box .close {
  top: calc(var(--gap) * 0.5);
  left: unset;
  right: calc(var(--gap) * 0.5);
  margin-left: 0;
  width: var(--btn-height-small);
  z-index: 4;
}

.credits-box .close .bar,
.credits-box .close .bar::before {
  background-color: var(--color-white);
}

.credits-box .credits-images {
  width: 100%;
  position: relative;
  background-color: var(--color-dark);
}

.credits-box .credits-images .overlay-gradient {
  background: linear-gradient(199deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 50%);
  z-index: 3;
}

.credits-box .credits-images::before {
  content: "";
  display: block;
  padding-top: 60%;
}

.credits-box .credits-images .single-credits-image {
  opacity: 0;
  z-index: 0;
}

.credits-box .credits-images .single-credits-image.prev-active {
  opacity: 0;
  z-index: 2;
  transition: opacity 0.4s ease-in-out;
}

.credits-box .credits-images .single-credits-image.active {
  opacity: 1;
  z-index: 1;
}

.credits-box .credits-title {
  display: flex;
  padding: var(--gap);
  padding-bottom: 0;
}

.credits-box .credits-names {
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--gap) * 0.5);
  padding: var(--gap);
  padding-top: calc(var(--gap) * 0.75);
}

.credits-box .credits-names .single-name {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
  width: calc(50% - (var(--gap) * 0.25));
}

@media screen and (max-width: 540px) {
  .credits-box .credits {
    max-width: calc(100vw - (var(--gap) * 2));
  }
}

/* Footer Book Now - Box */

.section-footer .row-book {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.section-footer .row-book .col {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: var(--section-padding) 0;
}

/* ------------------------- Whatsapp Box -------------------------------------------------- */

.overlay.whatsapp-back {
  opacity: 0;
  visibility: hidden;
  transition: all var(--animation-slow);
  pointer-events: all;
  backdrop-filter: blur(0.2em);
  -webkit-backdrop-filter: blur(0.2em);
  transition-delay: 0.3s;
  background-color: rgba(var(--color-black-rgb), 0.66);
}

[data-whatsapp-status="active"] .overlay.whatsapp-back {
  transition-delay: 0s;
  opacity: 1;
  visibility: visible;
}

/* Built in Pop-up - Box */

.whatsapp-box {
  position: absolute;
  transition: all var(--animation-slow);
  pointer-events: all;
  top: 120%;
  left: 50%;
  transform: translate(-50%, 0%) rotate(0.001deg);
  display: none;
}

[data-whatsapp-status="active"] .whatsapp-box {
  top: 50%;
  transform: translate(-50%, -50%) rotate(0.001deg);
}

.whatsapp-box .whatsapp {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  z-index: 2;
  position: relative;
  width: 15em;
  padding: 2em 1.5em;
  text-align: center;
}

.whatsapp-box .close {
  top: calc(var(--gap) * 0.33);
  left: unset;
  right: calc(var(--gap) * 0.33);
  margin-left: 0;
  width: var(--btn-height-small);
  z-index: 4;
}

.whatsapp-box .whatsapp-qr {
  width: 100%;
  position: relative;
  padding: 1em 2.25em 1.75em 2.25em;
}

.whatsapp-box .whatsapp-qr svg {
  width: 100%;
}

.whatsapp-box .whatsapp-text {
  padding-top: 0.66em;
  padding-bottom: 1em;
}

.whatsapp-box .whatsapp-text p {
  line-height: 1.3;
}

.whatsapp-box .whatsapp-btn {
  display: flex;
  justify-content: center;
}

/* WhatsApp Floating Button */

.floating-whatsapp-btn {
  position: fixed;
  right: var(--gap);
  bottom: var(--gap);
  background-color: var(--color-primary);
  border-radius: 50%;
  width: calc(var(--btn-height) * 1);
  height: calc(var(--btn-height) * 1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  pointer-events: all;
  overflow: hidden;
  z-index: 100;
}

.floating-whatsapp-btn svg {
  width: 40%;
  transition: opacity var(--animation-primary);
}

.floating-whatsapp-btn svg path {
  fill: var(--color-lightgray);
}

@media (hover: hover) {
  @media screen and (min-width: 1025px) {
    .whatsapp-box {
      display: flex;
    }

    .floating-whatsapp-btn:hover svg {
      opacity: 0.75;
    }
  }
}

/* WhatsApp Link (hidden on Desktop) */

.whatsapp-link-mobile {
  display: none;
}

@media screen and (max-width: 720px) {
  .whatsapp-link-mobile {
    display: block;
  }

  .whatsapp-link-desktop {
    display: none;
  }
}

/* ------------------------- Section - Home Header -------------------------------------------------- */

.section-home-header {
  overflow: hidden;
  padding: 0;
}

.section-home-header .row-title {
  min-height: 100vh;
  padding-top: var(--section-padding);
  align-items: flex-end;
  padding-bottom: calc(var(--gap) * 3);
}

.section-home-header .row-btn {
  padding-bottom: var(--section-padding);
}

.section-home-header .row {
  align-items: flex-end;
}

.section-home-header .col-row-deco {
  margin-top: calc(var(--gap) * -1);
}

.section-home-header .overlay-dark-gradient {
  background: radial-gradient(circle at 50% 65%, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.7) 90%);
  transform: scale(2, 1);
}

@media (hover: none) {
  @media screen and (max-width: 1024px) {
    .section-home-header .container {
      min-height: 100vh;
      min-height: calc(var(--vh, 1vh) * 100);
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    .section-home-header .row-title {
      padding-top: calc(var(--nav-bar-height-mobile) + var(--section-padding));
      min-height: unset;
    }

    .section-home-header .col-row-deco .deco-line-y {
      height: 5vh;
    }

    .section-home-header .row-btn {
      padding-bottom: calc(var(--gap) * 2);
    }
  }
}

/* ------------------------- Section - Home Intro -------------------------------------------------- */

.section-home-intro .col-images-left,
.section-home-intro .col-images-right {
  gap: var(--section-padding);
}

.section-home-intro .col-images-left .col-row:nth-child(1) {
  display: flex;
  justify-content: flex-end;
  padding-right: var(--gap);
}

.section-home-intro .col-images-left .col-row:nth-child(2) figure,
.section-home-intro .col-images-right .col-row:nth-child(1) figure {
  width: 80%;
}

.section-home-intro .col-images-right .col-row:nth-child(1) {
  display: flex;
  justify-content: flex-end;
}

.section-home-intro .col-images-right .col-row:nth-child(2) {
  display: flex;
  padding-left: var(--gap);
}

.section-home-intro .col-images-left .col-row:nth-child(1) figure,
.section-home-intro .col-images-right .col-row:nth-child(2) figure {
  width: 40%;
}

.section-home-intro .styled-figure {
  width: 100%;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .section-home-intro .row.grid {
    --columns: 1;
    gap: calc(var(--gap) * 2.5) var(--grid-gap);
  }

  .section-home-intro .col-images-left,
  .section-home-intro .col-images-right {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .section-home-intro .col-images-left .col-row,
  .section-home-intro .col-images-right .col-row {
    width: 100%;
    display: flex;
  }

  .section-home-intro .col-row-ornament {
    display: none;
  }
}

@media screen and (max-width: 720px) {
  .section-home-intro .col-images-left,
  .section-home-intro .col-images-right {
    gap: 0;
  }

  .section-home-intro .col-images-left .col-row:nth-child(1) {
    justify-content: flex-start;
    padding-right: 0;
  }
  .section-home-intro .col-images-right .col-row:nth-child(2) {
    justify-content: flex-end;
    padding-left: 0;
  }

  .section-home-intro .col-images-left .col-row:nth-child(1) figure,
  .section-home-intro .col-images-right .col-row:nth-child(2) figure {
    width: calc(100% - calc(var(--gap) * 2));
  }

  .section-home-intro .col-images-left .col-row:nth-child(2) figure,
  .section-home-intro .col-images-right .col-row:nth-child(1) figure {
    width: 100%;
  }
}

/* ------------------------- Section - Home Intro After -------------------------------------------------- */

.section-home-intro-after {
  padding-top: calc(var(--gap) * 1.66);
  padding-bottom: calc(var(--gap) * 1.66);
}

.section-home-intro-after .col {
  gap: 1em;
  max-width: 36em;
}

/* ------------------------- Section - Stay Slider -------------------------------------------------- */

.section-stay-slider {
  padding-top: 0;
  padding-bottom: 0;
}

/* ------------------------- Section - Image Split -------------------------------------------------- */

.section-image-split .row.grid {
  --columns: 2;
  --grid-gap: calc(var(--gap) * 4);
  align-items: center;
}

.section-image-split + .section-image-split {
  padding-top: 0;
}

@media screen and (max-width: 1024px) {
  .section-image-split .row.grid {
    --columns: 2;
    --grid-gap: calc(var(--gap) * 2);
  }
}

@media screen and (min-width: 721px) {
  .section-image-split .row.grid.flipped .col-image {
    order: 3;
  }
}

@media screen and (max-width: 720px) {
  .section-image-split .row.grid {
    --columns: 1;
    gap: calc(var(--gap) * 2) var(--grid-gap);
  }
}

/* ------------------------- Section - Text Split -------------------------------------------------- */

.section-text-split .row.grid {
  --columns: 2;
  --grid-gap: calc(var(--gap) * 2);
}

.section-text-split .row.grid .col-row-text {
  padding-top: 0.25em;
}

@media screen and (max-width: 720px) {
  .section-text-split .row.grid {
    --columns: 1;
    gap: calc(var(--gap) * 2) var(--grid-gap);
  }

  .section-text-split .row.grid .col-row-text {
    padding-top: 0em;
  }
}

/* ------------------------- Section - Stay Header -------------------------------------------------- */

.section-stay-header {
  padding-bottom: 0;
}

/* ------------------------- Section - Stay Cards -------------------------------------------------- */

.section-stay-cards {
  padding-top: calc(var(--gap) * 3);
}

.section-stay-cards .row.grid {
  --columns: 2;
  --grid-gap: var(--container-padding);
  gap: calc(var(--gap) * 3) var(--grid-gap);
}

@media screen and (max-width: 720px) {
  .section-stay-cards .row.grid {
    --columns: 1;
    gap: calc(var(--gap) * 2.5) var(--grid-gap);
  }
}

/* ------------------------- Section - Packages Header -------------------------------------------------- */

.section-packages-header {
  padding-bottom: 0;
}

/* ------------------------- Section - Packages Cards -------------------------------------------------- */

.section-packages-intro {
  padding-bottom: 0;
}

/* ------------------------- Section - Packages Cards -------------------------------------------------- */

.section-packages-cards {
  padding-top: calc(var(--gap) * 3);
}

.section-packages-cards .row.grid {
  --columns: 3;
  --grid-gap: var(--container-padding);
  gap: calc(var(--gap) * 3) var(--grid-gap);
}

@media screen and (max-width: 1024px) {
  .section-packages-cards .row.grid {
    --columns: 2;
    gap: calc(var(--gap) * 1) var(--grid-gap);
  }
}

@media screen and (max-width: 720px) {
  .section-packages-cards .row.grid {
    --columns: 1;
  }
}

/* ------------------------- Section - Discover Header -------------------------------------------------- */

.section-discover-header {
  padding-bottom: 0;
}

/* ------------------------- Section - Discover Cards -------------------------------------------------- */

.section-discover-cards {
  padding-top: calc(var(--gap) * 3);
}

.section-discover-cards .row.grid {
  --columns: 3;
  --grid-gap: var(--container-padding);
  gap: calc(var(--gap) * 3) var(--grid-gap);
}

.section-discover-cards + .section-small-image {
  padding-top: 0;
  padding-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .section-discover-cards .row.grid {
    --columns: 2;
    gap: calc(var(--gap) * 1) var(--grid-gap);
  }
}

@media screen and (max-width: 720px) {
  .section-discover-cards .row.grid {
    --columns: 1;
  }
}

/* ------------------------- Section - Packages Single Header -------------------------------------------------- */

.section-packages-single-header {
  padding-bottom: 0;
  z-index: 2;
}

.section-packages-single-header .col-row-image {
  padding-top: calc(var(--gap) * 1.5);
}

.section-packages-single-header .styled-figure {
  width: var(--card-width);
  margin-bottom: calc((var(--card-width) * 1.333333) * -0.666);
}

.section-packages-single-header + .section-big-image .background-media {
  min-height: 90vh;
  transform-origin: bottom center;
}

@media (hover: none) {
  @media screen and (max-width: 1024px) {
    .section-packages-single-header + .section-big-image .background-media {
      min-height: 65vh;
      min-height: calc(var(--vh, 1vh) * 65);
    }
  }
}

/* ------------------------- Section - Discover Single Header -------------------------------------------------- */

.section-discover-single-header + .section-big-image .background-media {
  min-height: 90vh;
}

@media (hover: none) {
  @media screen and (max-width: 1024px) {
    .section-discover-single-header + .section-big-image .background-media {
      min-height: 65vh;
      min-height: calc(var(--vh, 1vh) * 65);
    }
  }
}

/* ------------------------- Section - Big Image -------------------------------------------------- */

.section-big-image {
  padding: 0;
  position: relative;
  overflow: hidden;
}

.section-big-image .background-media {
  width: 100%;
  position: relative;
  min-height: 90vh;
}

.section-big-image.section-big-image-text {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.section-big-image.section-big-image-text .background-media {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.section-big-image.section-big-image-text .col-row-btn {
  padding-top: var(--gap);
}

@media (hover: none) {
  @media screen and (max-width: 1024px) {
    .section-big-image .background-media {
      min-height: 90vh;
      min-height: calc(var(--vh, 1vh) * 90);
    }

    .section-big-image.section-big-image-text {
      padding-top: calc(var(--section-padding) * 1.5);
      padding-bottom: calc(var(--section-padding) * 1.5);
    }
  }
}

/* ------------------------- Section - After Big Image -------------------------------------------------- */

.section-after-big-image {
  padding-top: 0;
}

.section-after-big-image .col-row-image {
  padding-bottom: var(--gap);
}

.section-after-big-image .col-row-image:last-child {
  padding-bottom: 0;
}

.section-after-big-image .styled-figure {
  width: var(--card-width);
  margin-top: calc((var(--card-width) * 1.333333) * -0.666);
}

/* ------------------------- Section - Three Images -------------------------------------------------- */

.section-three-images {
  padding-top: 0;
  padding-bottom: 0;
}

.section-three-images + .section-footer {
  margin-top: var(--section-padding);
}

.section-three-images + .section-image-split {
  margin-top: var(--section-padding);
}

.section-three-images-block .container.small .row.centered {
  padding-bottom: calc(var(--gap) * 3.25);
}

@media screen and (min-width: 721px) {
  .section-three-images.offset .col:nth-child(even),
  .section-three-images-block.offset .col:nth-child(even) {
    margin-top: var(--container-padding);
  }
}

@media screen and (max-width: 720px) {
  .section-three-images .row.grid,
  .section-three-images-block .row.grid {
    --columns: 2;
  }

  .section-three-images .col:nth-child(3),
  .section-three-images-block .col:nth-child(3) {
    display: none;
  }
}

/* ------------------------- Section - Dining Intro -------------------------------------------------- */

.section-dining-intro {
  padding-bottom: calc(var(--gap) * 3.25);
}

/* ------------------------- Section - Small Image -------------------------------------------------- */

.section-small-image {
  z-index: 2;
}

.section-small-image .col-row-image {
  padding-top: var(--gap);
}

.section-small-image .styled-figure {
  width: var(--card-width);
}

.section-small-image + .section-big-image {
  margin-top: calc((var(--card-width) * 1.333333) * -0.666);
}

/* ------------------------- Section - Menu -------------------------------------------------- */

.section-menu .row-menu-controls {
  padding-top: calc(var(--gap) * 1.5);
  padding-bottom: calc(var(--gap) * 0.75);
}

.section-menu .row-disclaimer {
  padding-top: calc(var(--gap) * 1.5);
  padding-bottom: calc(var(--gap) * 1.5);
}

.section-menu .row-disclaimer p {
  font-size: var(--copy-size-s);
  opacity: 0.6;
}

/* Filter Controls */

.section-menu .row-menu-controls .menu-controls {
  display: flex;
  gap: 1.5em;
  overflow-x: scroll;
}

.section-menu .single-menu-btn {
  display: flex;
  padding: 0.4em 0em;
  border-radius: 10em;
  position: relative;
  cursor: pointer;
  transition: padding var(--animation-primary);
}

.section-menu .single-menu-btn[data-filter-status="active"] {
  padding: 0.4em 0.9em;
}

.section-menu .single-menu-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10em;
  border: 1px solid var(--color-border);
  transition: opacity var(--animation-primary);
  opacity: 0;
}

.section-menu .single-menu-btn[data-filter-status="active"]::before {
  opacity: 1;
}

.section-menu .single-menu-btn span {
  font-size: var(--copy-size-m);
  opacity: 0.5;
  transition: opacity var(--animation-primary);
  color: var(--color-dark);
  white-space: nowrap;
}

.section-menu .single-menu-btn:hover span {
  opacity: 1;
}

.section-menu .single-menu-btn[data-filter-status="active"] span {
  opacity: 1;
  font-weight: 400;
}

/* Filter Items */

.section-menu [data-filter-grid] .menu-list[data-filter-status="not-active"] {
  display: none;
}

.section-menu [data-filter-grid] {
  transform: translateY(0em) rotate(0.001deg);
  transition: opacity 0.2s ease-out, transform 1.2s cubic-bezier(0.16, 1, 0.3, 1);
}

.section-menu [data-filter-grid].toggle-fade-out {
  opacity: 0;
  transform: translateY(0.5em) rotate(0.001deg);
  transition: opacity 0.2s ease-in, transform 0.2s cubic-bezier(0.7, 0, 0.84, 0);
}

.section-menu [data-filter-grid].toggle-fade-in {
  opacity: 0;
  transform: translateY(var(--gap)) rotate(0.001deg);
}

.section-menu .row-menu-grid .menu-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--gap) * 0.75) var(--grid-gap);
  --grid-gap: var(--container-padding);
  --columns: 2;
}

.section-menu .row-menu-grid .single-menu-item {
  width: calc((99.99% / var(--columns)) - (var(--grid-gap) * ((var(--columns) - 1) / var(--columns))));
  display: flex;
  flex-direction: column;
  gap: 0.6em;
  position: relative;
  padding-top: calc(var(--gap) * 0.75);
}

.section-menu .row-menu-grid .single-menu-item.special {
  width: 100%;
  background-color: rgb(99, 70, 34, 0.05);
  padding: calc(var(--gap) * 0.75);
}

.section-menu .row-menu-grid .single-menu-item.special .border-top {
  display: none;
}

.section-menu .row-menu-grid .single-menu-item .col-menu-eyebrow {
  padding-top: calc(var(--gap) * 0.1);
}

.section-menu .row-menu-grid .single-menu-item.special .col-menu-eyebrow {
  display: flex;
  align-items: center;
  gap: 0.3em;
}

.section-menu .row-menu-grid .single-menu-item.special .col-menu-eyebrow svg {
  width: calc(var(--copy-size-m) * 1.1);
  margin-bottom: 0.15em;
  margin-left: calc(var(--copy-size-m) * -0.2);
}

.section-menu .row-menu-grid .single-menu-item.special .col-menu-eyebrow svg * {
  fill: var(--color-primary);
  stroke: transparent;
  stroke-width: 0px;
}

.section-menu .row-menu-grid .single-menu-item .col-menu-price {
  display: flex;
  align-items: center;
  gap: 1em;
}

.section-menu .row-menu-grid .single-menu-item .col-menu-price p {
  font-weight: 400;
  font-size: var(--copy-size-m);
}

.section-menu .row-menu-grid .single-menu-item .col-menu-price .duration {
  display: flex;
  align-items: center;
  gap: 0.25em;
  font-weight: 300;
  opacity: 0.6;
}

.section-menu .row-menu-grid .single-menu-item .col-menu-price .duration svg {
  width: calc(var(--copy-size-m) * 1.2);
  margin-bottom: 0.1em;
}

.section-menu .row-menu-grid .single-menu-item .col-menu-price .duration svg * {
  stroke: var(--color-dark);
  stroke-width: 1.5px;
}

@media screen and (max-width: 720px) {
  .section-menu .row-menu-grid .menu-list {
    --columns: 1;
  }
}

/* ------------------------- Section - Stay Single Header -------------------------------------------------- */

.section-stay-single-header {
  overflow: hidden;
  padding: 0;
}

.section-stay-single-header .overlay-dark-gradient {
  background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.4) 50%);
  transform: scale(1);
  opacity: 0.5;
}

.section-stay-single-header h1 {
  font-size: calc(var(--title-size) * 1);
}

.section-stay-single-header .styled-col {
  gap: calc(var(--gap) * 2);
}

@media screen and (max-width: 540px) {
  .section-stay-single-header h1 {
    font-size: calc(var(--title-size) * 0.7);
  }
}

/* ------------------------- Section - Double Slider -------------------------------------------------- */

.section-double-slider {
  padding-top: 0;
}

.section-double-slider .row-title,
.section-double-slider .row.centered {
  padding-bottom: calc(var(--gap) * 3);
}

.section-double-slider .row-btn {
  padding-top: calc(var(--gap) * 1.5);
}

/* ------------------------- Pagebuilder -------------------------------------------------- */

.section-combine-no-padding + .section-combine-no-padding {
  padding-top: 0;
}

.section-combine-no-padding + .section-packages-intro::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-border);
  height: 1px;
}
