/* ------------------------- Fonts -------------------------------------------------- */

@font-face {
  font-family: "ABC Whyte";
  src: url("../fonts/ABCWhyte-Light.woff2") format("woff2"), url("../fonts/ABCWhyte-Light.woff") format("woff"), url("../fonts/ABCWhyte-Light.ttf") format("ttf"), url("../fonts/ABCWhyte-Light.otf") format("otf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ABC Whyte";
  src: url("../fonts/ABCWhyte-Regular.woff2") format("woff2"), url("../fonts/ABCWhyte-Regular.woff") format("woff"), url("../fonts/ABCWhyte-Regular.ttf") format("ttf"), url("../fonts/ABCWhyte-Regular.otf") format("otf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kaftan Serif";
  src: url("../fonts/KaftanSerif-Regular.woff2") format("woff2"), url("../fonts/KaftanSerif-Regular.woff") format("woff"), url("../fonts/KaftanSerif-Regular.ttf") format("ttf"), url("../fonts/KaftanSerif-Regular.otf") format("otf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* ------------------------- Lenis -------------------------------------------------- */

html.lenis {
  height: auto;
}
.lenis.lenis-smooth {
  scroll-behavior: auto;
  height: 100vh;
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis.lenis-stopped {
  overflow: hidden;
}
.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

/* ------------------------- Variables -------------------------------------------------- */

:root {
  --color-dark-rgb: 50, 32, 24;
  --color-dark: rgba(var(--color-dark-rgb), 1);

  --color-light-rgb: 234, 229, 223;
  --color-light: rgba(var(--color-light-rgb), 1);

  --color-white-rgb: 248, 246, 244;
  --color-white: rgba(var(--color-white-rgb), 1);

  --color-black-rgb: 0, 0, 0;
  --color-black: rgba(var(--color-black-rgb), 1);

  --color-primary: #903c02;
  --color-secondary: #0a6365;
  --color-lightgray: #e0d9d1;

  --color-stone-50: var(--color-light);
  --color-stone-100: var(--color-lightgray);
  --color-stone-200: #cec3b6;
  --color-stone-900: var(--color-dark);
  --color-butterflygreen-500: #2ca09e;
  --color-butterflygreen-700: var(--color-secondary);
  --color-butterflygreen-900: #00383c;
  --color-sunsetorange-800: var(--color-primary);
  --color-blur: rgba(210, 205, 200, 0.3);

  --color-border: rgba(var(--color-dark-rgb), 0.15);
  --color-border-light: rgba(var(--color-white-rgb), 0.175);
  --color-border-active: rgba(var(--color-dark-rgb), 0.25);
  --color-border-active-light: rgba(var(--color-white-rgb), 0.275);
  --color-text: rgba(var(--color-dark-rgb), 0.9);
  --color-text-light: rgba(var(--color-white-rgb), 0.9);

  --color-alert-error: #ff213e;
  --color-alert-success: #46d054;

  --animation-fast: 0.4s cubic-bezier(0.3, 1, 0.3, 1);
  --animation-primary: 0.6s cubic-bezier(0.3, 1, 0.3, 1);
  --animation-smooth: 0.8s cubic-bezier(0.3, 1, 0.3, 1);
  --animation-slow: 0.8s cubic-bezier(0.6, 0, 0.2, 1);
  --animation-slider: 1.2s cubic-bezier(0.6, 0, 0.2, 1);
  --animation-nav: 0.4s cubic-bezier(0.3, 0, 0.3, 1);
  --animation-nav-smooth: 0.6s cubic-bezier(0.3, 0, 0.3, 1);

  --gap: calc(var(--title-size) * 0.3);

  --section-padding: calc(var(--title-size) * 1.2);
  --container-padding: calc(var(--gap) * 1.5);

  --title-size: clamp(5em, 7.5vw, 7.5em);

  --copy-size-l: 0.9em;
  --copy-size-m: 0.8em;
  --copy-size-s: 0.725em;

  --border-radius: 0.25em;

  --btn-height: 3em;
  --btn-height-small: 2.625em;
  --btn-shadow-distance: 1.25em;
  --nav-bar-height: calc(var(--btn-height) + (var(--gap) * 2));
  --nav-bar-height-mobile: calc(var(--btn-height) + (var(--gap) * 0.6));
  --card-width: calc(var(--title-size) * 2.25);
}

[data-theme-section="dark"] {
  --color-border: rgba(var(--color-light-rgb), 0.15);
  --color-text: rgba(var(--color-white-rgb), 0.9);
}

@media screen and (max-width: 1024px) {
  :root {
    --container-padding: var(--gap);
  }
}

@media screen and (max-width: 540px) {
  :root {
    --container-padding: clamp(1.25em, 4vw, 2.5em);
    --card-width: calc(var(--title-size) * 1.75);
  }
}

/* ------------------------- Hide Scrollbar -------------------------------------------------- */

body::-webkit-scrollbar {
  /* display: none; */
} /* Chrome, Safari, Opera */
body {
  /* -ms-overflow-style: none; */
} /* IE & Edge */
html {
  /* scrollbar-width: none; */
} /* Firefox */

/* ------------------------- Body -------------------------------------------------- */

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
li,
ul,
figure {
  padding: 0;
  margin: 0;
  list-style: none;
}

html {
  scroll-behavior: initial;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: "ABC Whyte", sans-serif;
  color: var(--color-text);
  line-height: 1.5;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  font-size: clamp(16px, 1.2vw, 19px);
  background-color: var(--color-light);
  overscroll-behavior-y: none;
}

html,
body {
  width: 100%;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  position: relative;
}

main {
  overflow: hidden;
  box-sizing: border-box;
}

.main-wrap {
  will-change: transform;
  box-sizing: border-box;
}

/* Selection */
::selection {
  background-color: var(--color-primary);
  color: var(--color-light);
  text-shadow: none;
}

::-moz-selection {
  background-color: var(--color-primary);
  color: var(--color-light);
  text-shadow: none;
}

/* General */
canvas,
img,
video,
picture,
figure {
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
  display: block;
}

svg {
  max-width: none;
  height: auto;
  box-sizing: border-box;
}

audio,
canvas,
iframe,
img,
svg,
video,
picture,
figure {
  vertical-align: middle;
}

video {
  pointer-events: none;
  user-select: none;
}

/* ------------------------- Typography -------------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
ul,
ol,
span,
strong,
em,
figcaption {
  padding: 0;
  margin: 0;
  font-style: normal;
  letter-spacing: normal;
  font-weight: unset;
  line-height: unset;
}

h1,
h2.big {
  font-family: "Kaftan Serif", serif;
  font-weight: 400;
  font-size: calc(var(--title-size) * 0.775);
  line-height: 1.2;
  color: var(--color-dark);
}

h2 {
  font-family: "Kaftan Serif", serif;
  font-weight: 400;
  font-size: calc(var(--title-size) * 0.55);
  line-height: 1.2;
  color: var(--color-dark);
}

h3 {
  font-family: "Kaftan Serif", serif;
  font-weight: 400;
  font-size: calc(var(--title-size) * 0.4);
  line-height: 1.2;
  color: var(--color-dark);
}

h3.small {
  font-size: calc(var(--title-size) * 0.325);
}

h4 {
  font-family: "Kaftan Serif", serif;
  font-weight: 400;
  font-size: calc(var(--title-size) * 0.275);
  line-height: 1.2;
  color: var(--color-dark);
}

h5 {
  font-weight: 400;
  font-size: calc(var(--title-size) * 0.2);
  line-height: 1;
  color: var(--color-dark);
}

[data-theme-section="dark"] :is(h1, h2, h3, h4, h5) {
  color: var(--color-white);
}

@media screen and (max-width: 540px) {
  h1 {
    font-size: calc(var(--title-size) * 0.6);
  }

  h2 {
    font-size: calc(var(--title-size) * 0.475);
  }
}

p {
  font-weight: 300;
  font-style: normal;
  font-size: var(--copy-size-l);
  line-height: 1.5;
  color: var(--color-text);
}

span {
  font-weight: inherit;
  color: inherit;
  font-size: var(--copy-size-l);
}

p.medium,
span.medium {
  font-size: var(--copy-size-m);
}

p.small,
span.small {
  font-size: var(--copy-size-s);
}

p.inactive,
span.inactive {
  opacity: 0.6;
}

strong {
  font-weight: 400;
  color: var(--color-dark);
}

[data-theme-section="dark"] strong {
  color: var(--color-light);
}

em {
  font-style: italic;
}

a {
  color: unset;
  text-decoration: none;
}

.eyebrow {
  display: block;
  text-transform: uppercase;
  letter-spacing: calc(0.75em * 0.12);
  font-size: 0.725em;
  line-height: 1;
  color: rgba(var(--color-dark-rgb), 0.4);
  font-weight: 400;
}

.eyebrow.small {
  letter-spacing: calc(0.65em * 0.12);
  font-size: 0.65em;
}

.eyebrow.tiny {
  letter-spacing: calc(0.575em * 0.12);
  font-size: 0.575em;
}

[data-theme-section="dark"] .eyebrow {
  color: rgba(var(--color-white-rgb), 0.7);
}

.eyebrow.primary {
  color: var(--color-primary);
}

.eyebrow.secondary {
  color: var(--color-secondary);
}

/* ------------------------- Main Elements -------------------------------------------------- */

/* Section */

.section {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  position: relative;
}

.section-wrap {
  position: relative;
}

.section.full-height {
  padding-top: 0;
  padding-bottom: 0;
}

.section.full-height .container > .row {
  min-height: 100vh;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

@media (hover: none) {
  @media screen and (max-width: 1024px) {
    .section.full-height .container > .row {
      min-height: 100vh;
      min-height: calc(var(--vh, 1vh) * 100);
    }
  }
}

/* Section Colors */

[data-bg-section="dark"] {
  background-color: var(--color-dark);
}

[data-bg-section="lightgray"] {
  background-color: var(--color-lightgray);
}

/* Header (floating bar at the top) */

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 200;
  pointer-events: none;
  display: flex;
}

/* Floating Elements */

.floating-elements {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 300;
  pointer-events: none;
}

/* Container */

.container {
  margin: 0 auto;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  max-width: calc(var(--title-size) * 11);
}

.container.wide {
  max-width: 100%;
}

.container.medium {
  max-width: calc(var(--title-size) * 9);
}

.container.small {
  max-width: calc(var(--title-size) * 7.75);
}

.container.full {
  max-width: 100vw;
  padding-left: 0;
  padding-right: 0;
}

/* Row/Col */

.row {
  display: flex;
  width: 100%;
  position: relative;
}

.col {
  display: flex;
  flex-direction: column;
  position: relative;
}

.row.grid {
  flex-wrap: wrap;
  gap: var(--gap) var(--grid-gap);
  --grid-gap: var(--container-padding);
  --columns: 3;
}

.row.grid > .col {
  width: calc((99.99% / var(--columns)) - (var(--grid-gap) * ((var(--columns) - 1) / var(--columns))));
}

.row.centered {
  justify-content: center;
}

.row.centered > .col {
  justify-content: center;
  text-align: center;
}

.row.centered > .styled-col {
  align-items: center;
}

.styled-col {
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap) * 1.5);
}

.styled-col .col-row-title {
  max-width: calc(var(--title-size) * 5);
}

.styled-col .col-row-title.tiny {
  max-width: calc(var(--title-size) * 3.5);
}

.styled-col .col-row-title.small {
  max-width: calc(var(--title-size) * 4);
}

.styled-col .col-row-title.medium {
  max-width: calc(var(--title-size) * 6.5);
}

.styled-col .col-row-title.big,
.styled-col .col-row-title.large {
  max-width: calc(var(--title-size) * 8.5);
}

.styled-col .col-row-title.full {
  max-width: unset;
}

.styled-col .col-row-table {
  padding-top: calc(var(--gap) * 0.5);
}

.styled-col .col-row-text + .col-row-table {
  padding-top: 0;
}

.styled-col .col-row-eyebrow span {
  margin-top: -0.1em;
  margin-bottom: -0.1em;
}

.styled-col .col-row-eyebrow + .col-row-title {
  margin-top: calc(var(--gap) * -0.25);
}

.styled-col .col-row-title h1 {
  margin-top: -0.175em;
  margin-bottom: -0.25em;
}

.styled-col .col-row-title h2 {
  margin-top: -0.15em;
  margin-bottom: -0.25em;
}

.styled-col .col-row-title h3 {
  margin-top: -0.14em;
  margin-bottom: -0.2em;
}

.styled-col .col-row-text.full {
  max-width: unset;
}

.styled-col .col-row-text.large {
  max-width: 35em;
}

.styled-col .col-row-text {
  max-width: 30em;
}

.styled-col .col-row-text.medium {
  max-width: 25em;
}

.styled-col .col-row-text.small {
  max-width: 20em;
}

.styled-col .col-row-title + .col-row-ornament {
  padding-top: calc(var(--gap) * 1);
}

/* Overlay */

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.overlay.overlay-dark {
  background-color: rgba(var(--color-black-rgb), 0.5);
}

img.overlay,
video.overlay {
  object-fit: cover;
}

/* No select */

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* ------------------------- Buttons -------------------------------------------------- */

.col-row-btn {
  display: flex;
  gap: 0.5em;
  flex-direction: row;
}

.btn {
  position: relative;
  border: 0;
  outline: 0;
}

.btn input {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.btn .btn-click {
  cursor: pointer;
  background-color: transparent;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: var(--color-primary);
  border-radius: var(--border-radius);
  height: var(--btn-height);
  transition: background-color var(--animation-nav);
}

.btn .btn-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 calc(var(--copy-size-m) * 1.33);
  gap: calc(var(--copy-size-m) * 1);
  width: 100%;
  overflow: hidden;
}

.btn .btn-content svg {
  width: calc(var(--copy-size-m) * 1.2);
  display: block;
  flex-shrink: 0;
  transform: rotate(0.001deg);
  transition: transform var(--animation-smooth);
}

.btn .btn-content svg > * {
  fill: var(--color-stone-200);
}

.btn .btn-content span {
  font-size: var(--copy-size-m);
  color: var(--color-white);
  font-weight: 400;
  text-align: center;
  width: 100%;
  padding: 0 calc(var(--copy-size-m) * 0.75);
  margin-top: -0.05em;
  white-space: nowrap;
  text-shadow: 0px calc(var(--btn-shadow-distance) * 1.5) transparent;
  transform: translateY(0em) rotate(0.001deg);
  transition: text-shadow var(--animation-smooth);
  line-height: 1.1;
}

@media (hover: hover) {
  @media screen and (min-width: 1025px) {
    .btn .btn-click:hover svg:nth-of-type(1) {
      transform: rotate(90deg);
    }

    .btn .btn-click:hover svg:nth-of-type(2) {
      transform: rotate(-90deg);
    }

    .btn .btn-click:hover .btn-content span {
      transition: all var(--animation-smooth);
      transform: translateY(calc(var(--btn-shadow-distance) * -1)) rotate(0.001deg);
      color: transparent;
      text-shadow: 0px var(--btn-shadow-distance) var(--color-white);
    }
  }
}

/* Small */

.btn.small .btn-click {
  height: var(--btn-height-small);
}

.btn.small .btn-content span {
  padding: 0 calc(var(--copy-size-m) * 0.35);
}

.btn.small .btn-content span {
  margin-top: 0;
}

/* Tiny */

.btn.tiny .btn-click {
  height: 2em;
}

.btn.tiny .btn-content span {
  padding: 0 calc(var(--copy-size-s) * 0.35);
}

.btn.tiny .btn-content span {
  margin-top: 0;
  font-size: var(--copy-size-s);
}

/* When icon */

.btn .btn-content svg + span,
.btn.small .btn-content svg + span {
  padding: 0;
}

/* Secondary */

.btn.secondary .btn-click {
  background-color: var(--color-butterflygreen-900);
}

.btn.secondary .btn-content svg > * {
  fill: var(--color-butterflygreen-500);
}

/* Blur */

.btn.blur .btn-click {
  background-color: rgba(var(--color-white-rgb), 0.2);
  backdrop-filter: blur(1em);
  -webkit-backdrop-filter: blur(1em);
}

.btn.blur .btn-content svg > * {
  fill: var(--color-white);
}

/* Outline */

.btn.outline .btn-click {
  background-color: transparent;
}

.btn.outline .btn-click::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
}

.btn.outline .btn-content svg > * {
  fill: rgba(var(--color-dark-rgb), 0.5);
}

@media (hover: hover) {
  @media screen and (min-width: 1025px) {
    .btn.outline .btn-click:hover span {
      text-shadow: 0px var(--btn-shadow-distance) var(--color-dark);
    }
  }
}

.btn.outline .btn-content span {
  color: var(--color-dark);
}

/* ------------------------- Links -------------------------------------------------- */

.link {
  position: relative;
  display: flex;
}

.link .link-click {
  position: relative;
  padding: 0.25em 0;
  display: flex;
  overflow: hidden;
  cursor: pointer;
}

.link .link-click::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--color-border-active);
  transform: scaleX(0) rotate(0.001deg);
  transform-origin: right center;
  transition: transform var(--animation-primary), background-color var(--animation-primary), opacity var(--animation-primary) 0.05s;
  opacity: 1;
}

.link .link-click span {
  font-size: var(--copy-size-m);
  display: flex;
  line-height: 1;
  white-space: nowrap;
}

@media (hover: hover) {
  @media screen and (min-width: 1025px) {
    .link .link-click:hover::before {
      transform-origin: left center;
      transform: scaleX(1) rotate(0.001deg);
      opacity: 1;
    }
  }
}

/* Small */

.link.small .link-click span {
  font-size: var(--copy-size-s);
}

/* Inactive */

.link.inactive .link-click span {
  opacity: 0.6;
}

/* ------------------------- Icon Link -------------------------------------------------- */

.icon-link {
  position: relative;
  display: flex;
}

.icon-link .icon-link-click {
  cursor: pointer;
  background-color: transparent;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.icon-link .icon-link-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: calc(var(--copy-size-m) * 0.6);
  width: 100%;
  overflow: hidden;
}

.icon-link .dots {
  width: 14px;
  height: calc(var(--copy-size-m) * 1);
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-link .dots .dot {
  width: 3px;
  height: 3px;
  background-color: rgba(var(--color-dark-rgb), 0.8);
  border-radius: 50%;
}

.icon-link .icon-link-content svg {
  width: calc(var(--copy-size-m) * 1.2);
  display: block;
  flex-shrink: 0;
  transform: rotate(0.001deg);
  transition: transform var(--animation-smooth);
}

.icon-link .icon-link-content svg > * {
  fill: var(--color-primary);
}

.icon-link .icon-link-content span {
  font-size: var(--copy-size-m);
  color: var(--color-primary);
  font-weight: 400;
  text-align: center;
  width: 100%;
  white-space: nowrap;
  text-shadow: 0px calc(var(--btn-shadow-distance) * 1.5) transparent;
  transform: translateY(0em) rotate(0.001deg);
  transition: text-shadow var(--animation-smooth);
  line-height: 1.1;
}

@media (hover: hover) {
  @media screen and (min-width: 1025px) {
    .icon-link .icon-link-click:hover .icon-link-content span {
      transition: all var(--animation-smooth);
      transform: translateY(calc(var(--btn-shadow-distance) * -1)) rotate(0.001deg);
      color: transparent;
      text-shadow: 0px var(--btn-shadow-distance) var(--color-primary);
    }
  }
}

/* Built */

.icon-link.built-in .icon-link-content span {
  color: var(--color-dark);
  font-size: var(--copy-size-s);
}

@media (hover: hover) {
  @media screen and (min-width: 1025px) {
    .icon-link.built-in .icon-link-click:hover .icon-link-content span {
      text-shadow: 0px var(--btn-shadow-distance) var(--color-dark);
    }
  }
}

/* Whatsapp */

.icon-link.whatsapp .icon-link-click {
  height: var(--btn-height);
  background-color: var(--color-primary);
  border-radius: var(--border-radius);
}

.icon-link.whatsapp .icon-link-content {
  padding: 0 calc(var(--copy-size-m) * 1.33) 0 calc(var(--copy-size-m) * 1.8);
  gap: calc(var(--copy-size-m) * 0.75);
}

.icon-link.whatsapp .icon-link-content span {
  color: var(--color-white);
}

.icon-link.whatsapp .icon-link-content svg {
  width: calc(var(--copy-size-m) * 1.4);
}

.icon-link.whatsapp .icon-link-content svg path {
  fill: var(--color-lightgray);
}

@media (hover: hover) {
  @media screen and (min-width: 1025px) {
    .icon-link.whatsapp .icon-link-click:hover .icon-link-content span {
      text-shadow: 0px var(--btn-shadow-distance) var(--color-white);
    }
  }
}

/* ------------------------- Icon -------------------------------------------------- */

i {
  width: 1em;
  height: 1em;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

i svg {
  width: 100%;
}

i svg :is(path, line, polyline) {
  stroke: var(--color-dark);
  stroke-width: 2px;
}

/* ------------------------- Styled Content -------------------------------------------------- */

.styled-content :is(h1, h2, h3, p, figure) {
  margin-bottom: 1.25rem;
}

.styled-content > *:last-child {
  margin-bottom: 0;
}

.styled-content h1 {
  margin-top: 2rem;
}

.styled-content :is(h1, h2, h3, p):last-child {
  margin-bottom: 0;
}

.styled-content p > a {
  color: var(--color-dark);
  text-decoration: underline;
  transition: var(--animation-primary);
}

.styled-content p > a:hover {
  opacity: 0.5;
}

.styled-content p + ul {
  margin-top: calc(-1.25rem);
}

.styled-content ul {
  font-size: var(--copy-size-l);
  display: flex;
  flex-direction: column;
  margin-bottom: 1.25rem;
  align-items: center;
}

.styled-content ul li {
  position: relative;
  padding-left: 0.75em;
  line-height: 1.5;
}

.styled-content ul li::before {
  content: "";
  left: 0;
  top: 0.6rem;
  height: 3px;
  width: 3px;
  background: var(--color-dark);
  position: absolute;
  border-radius: 2px;
}

/* ------------------------- Styled Figure -------------------------------------------------- */

.styled-figure {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  position: relative;
}

.styled-figure.default {
  width: 100%;
  overflow: hidden;
}

.styled-figure.default::before {
  content: "";
  padding-top: 133.333%;
  display: block;
}

.styled-figure.default.landscape::before {
  content: "";
  padding-top: 66.666%;
  display: block;
}

.styled-figure figcaption {
  font-weight: 300;
  font-style: normal;
  font-size: 0.8em;
  line-height: 1.3;
  color: var(--color-text);
}

/* ------------------------- Styled Image / Video -------------------------------------------------- */

.styled-image,
.styled-video {
  display: flex;
  flex-direction: column;
  position: relative;
}

.styled-image[data-ratio-status="true"] img,
.styled-video[data-ratio-status="true"] video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.styled-image.overlay,
.styled-video.overlay {
  object-fit: cover;
}

/* ------------------------- Styled Form -------------------------------------------------- */

.styled-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.styled-form .form-col {
  width: 100%;
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.styled-form .form-label {
  margin-bottom: 0.5em;
}

.styled-form .form-label span {
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: 500;
}

.styled-form abbr[title] {
  color: var(--color-alert-error);
  text-decoration: none;
  padding-left: 0.25em;
}

.styled-form input {
  display: block;
}

/* Text */

.styled-form input:is([type="text"], [type="email"], [type="tel"]) {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: 0;
  border-bottom: 1px solid transparent;
  padding: 1em 1em;
  width: 100%;
  border-radius: var(--border-radius);
}

/* Textarea */

.styled-form textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: 0;
  border-bottom: 1px solid transparent;
  resize: vertical;
  min-height: 10em;
  padding: 1em 1em;
  width: 100%;
  border-radius: var(--border-radius);
}

/* Checkbox */

.styled-form .form-col-checkbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.styled-form input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: 0;
  width: 1em;
  height: 1em;
  border: 1px solid var(--color-border);
  transition: background-color 0.3s ease-in-out;
  background-color: var(--color-light);
  margin-right: 0.5em;
  border-radius: calc(var(--border-radius) * 0.33);
}

.styled-form input[type="checkbox"]:focus {
  border-radius: calc(var(--border-radius) * 0.33);
}

.styled-form input[type="checkbox"]:checked {
  background: var(--color-light) url("../icons/check.svg") center center no-repeat;
  background-size: 100%;
}

.styled-form .form-col-checkbox label {
  font-weight: 300;
  font-size: 0.8em;
}

/* Error */

.styled-form :is(input, textarea).has-error {
  border-bottom: 1px solid var(--color-alert-error);
}

.styled-form input[type="checkbox"].has-error {
  border: 1px solid var(--color-alert-error);
}

.styled-form .has-error + .form-error-message {
  display: flex;
}

.form-error-message {
  width: 100%;
  display: none;
  color: var(--color-alert-error);
  font-size: 0.8em;
  font-weight: 500;
}

/* Focus */

.styled-form :is(input, textarea):focus {
  outline: 0;
  outline-width: 1px !important;
  outline-offset: 0px;
  border-bottom: 1px solid var(--color-dark);
}

.styled-form input[type="checkbox"]:focus {
  border: 1px solid var(--color-dark);
}

/* Submit */

.styled-form input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: 0;
  padding: 1em;
  background: var(--color-primary);
  color: var(--color-light);
  cursor: pointer;
  border-radius: var(--border-radius);
}

/* Autofill */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #000;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* ------------------------- Borders -------------------------------------------------- */

.border-box {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 1px solid var(--color-border);
  transition: border var(--animation-primary);
}

.border-static-y {
  width: 1px;
  height: 100%;
  background-color: var(--color-border);
  flex-shrink: 0;
  transition: background-color var(--animation-primary);
}

.border-static-x {
  height: 1px;
  width: 100%;
  background-color: var(--color-border);
  flex-shrink: 0;
  transition: background-color var(--animation-primary);
}

.border-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--color-border);
  transition: background-color var(--animation-primary);
}

.border-left {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 1px;
  background-color: var(--color-border);
  transition: background-color var(--animation-primary);
}

.border-right {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 1px;
  background-color: var(--color-border);
  transition: background-color var(--animation-primary);
}

.border-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--color-border);
  transition: background-color var(--animation-primary);
}

/* ------------------------- Section - Styleguide -------------------------------------------------- */

.section-styleguide-content .row {
  border-bottom: 1px solid var(--color-border);
  padding: calc(var(--gap) * 1) 0;
  flex-wrap: wrap;
  gap: 1em 0;
}

.section-styleguide-content .row:first-child {
  padding-top: 0;
}

.section-styleguide-content .row:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}

.section-styleguide-content .row .col:nth-child(1) {
  width: 30%;
}

.section-styleguide-content .row .col:nth-child(2) {
  width: 70%;
}

@media screen and (max-width: 1024px) {
  .section-styleguide-content .row .col:nth-child(1),
  .section-styleguide-content .row .col:nth-child(2) {
    width: 100%;
  }
}
